:root {
  --primary-color: #1d2f38;
  --font-main: Arial, sans-serif;
  --main-bg-color: #f4f4f4;
  --main-font: Arial, sans-serif;
  --header-bg-color: #50b3a2;
  --header-text-color: white;
  --nav-link-color: #ffffff;
  --nav-link-hover-bg: #ffffff;
  --nav-link-hover-color: #50b3a2;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
}

body, h1, h2, h3, ul, input {
  margin: 0;
  padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    background: var(--header-bg-color);
    color: white;
    padding: 20px 10px;
    text-align: center;
}

.nav {
    background: var(--header-bg-color);
    color: white;
    padding: 10px 0;
    text-align: center;
}

.nav a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    margin: 0 10px;
}

.nav a:hover {
    background: #ffffff;
    color: var(--header-bg-color);
}
