:root {
  --primary-color: #17a550;
  --text-color: #1d2f38;
  --action-background-color: #e3ebf1;
  --background-color: #f5f5f5;
  --heading-footer-color: #333333;
  --background-footer-color: #f7f9fa;
  --grey-button-color: #768f9c;
  --yellow-button-color: #ffc728;
  --green-button-color: #17a550;
  --color-white: #ffffff;
  --color-black: #000000;
  --heading-main-color: #10843f;
}

.container {
  width: 100%;
  max-width: calc(1110px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.bg-header {
  background-color: var(--color-white);
  color: var(--text-color);
}

.bg-main {
  background-color: var(--color-white);
  color: var(--text-color);
}

.bg-footer {
  background-color: var(--background-footer-color);
  color: var(--text-color);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-items: center;
}

.justify-between {
  justify-content: space-between;
}

.navigation {
  font-size: 14px;
  line-height: 20px;
  justify-content: space-between;
}

.header .header-menu {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
  border-radius: 0px;
}

.logo-wrap {
  gap: 30px;
}

.menu-icon {
  padding: 10px;
}

.header .header-menu .signup {
  display: flex;
  justify-items: flex-end;
}

.header .header-menu .navigation {
  gap: 40px;
}

.header .header-menu .wrapper {
  gap: 40px;
}

.bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1d2f38;
}
