:root {
  --primary-color: #17a550;
  --text-color: #1d2f38;
  --action-background-color: #e3ebf1;
  --background-color: #f5f5f5;
  --heading-footer-color: #333333;
  --background-footer-color: #f7f9fa;
  --grey-button-color: #768f9c;
  --yellow-button-color: #ffc728;
  --green-button-color: #17a550;
  --color-white: #ffffff;
  --color-black: #000000;
  --heading-main-color: #10843f;
}

.container {
  width: 100%;
  max-width: calc(1110px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.bg-header {
  background-color: var(--color-white);
  color: var(--text-color);
}

.bg-main {
  background-color: var(--color-white);
  color: var(--text-color);
}

.bg-footer {
  background-color: var(--background-footer-color);
  color: var(--text-color);
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-items: center;
}

.justify-between {
  justify-content: space-between;
}

.navigation {
  font-size: 14px;
  line-height: 20px;
  justify-content: space-between;
}

.header .header-menu {
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 1px 8px rgba(83, 109, 122, 0.29);
  border-radius: 0px;
}

.logo-wrap {
  gap: 30px;
}

.menu-icon {
  padding: 10px;
}

.header .header-menu .signup {
  display: flex;
  justify-items: flex-end;
}

.header .header-menu .navigation {
  gap: 40px;
}

.header .header-menu .wrapper {
  gap: 40px;
}

.bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1d2f38;
}

.h1 {
  font-size: 47px;
  line-height: 52px;
}

.h2 {
  font-size: 38px;
  line-height: 40px;
}

.h3 {
  font-size: 30px;
  line-height: 35px;
}

.green {
  color: var(--heading-main-color);
}

.first-block {
  padding: 50px;
  background-color: var(--action-background-color);
  border-radius: 10px;
  gap: 50px;
}

.first-sub-block {
  max-width: 500px;
}

.btn {
  display: inline-block;
  padding: 15px;
  text-align: center;
  background-color: transparent;
  color: var(--color-black);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  border: none;
}

.btn-default {
  
}

.btn-green {
  background-color: var(--green-button-color);
  color: var(--color-white);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 5px;
}

.btn-yellow {
  background-color: var(--yellow-button-color);
  color: var(--color-black);
  min-width: 82px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
}

.btn-grey {
  background-color: var(--grey-button-color);
  color: var(--color-white);
  min-width: 82px;
  border-radius: 0px 5px 5px 0px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
}

.blog-card {
  max-width: 555px;
  gap: 40px;
}

.blog {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  
}
